<html>
    <head>
          <title>Crushing is Awesome!</title>
    </head>
    <body>
        <ol>
          <li>
            <h1><a href="http://joshuafoster1.github.io">Here was the first site</a></h1>
                <p>I didn't do much of anything to get it up.</p>
          </li>
          <li>
             <h1><a href="http://joshuafoster1.pythonanywhere.com/">Then there was this.</a></h1>
                 <p>I have learned alot putting this one together</p>
          </li>
        </ol>
    </body>
</html>
